---
layout: default
---

<div class="home">


    <table
        style="width:100%;border:0;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
        <tbody>
            <tr style="padding:0px">
                <td style="padding:2.5%;border:0;width:70%;vertical-align:middle">
                    {{ content }}
                </td>
                <td style="padding:2.5%;width:30%;border:0;max-width: 30%">
                    <img style="width:100%;max-width:100%" alt="Me" src="images/headshot.jpeg"
                        class="hoverZoomLink">
                </td>
            </tr>
        </tbody>
    </table>

</div>
